.board .moderator {
    font-size:70%;
}

.board .description {
    font-size: 70%;
}

@media (max-width: 375px) {
    .board .td-postcount {
        display: none;
    }
}

@media (max-width: 768px) {
    .board .td-moderators {
        display: none;
    }
}

.board .td-threadcount {
    text-align: right;
}

.board .td-postcount {
    text-align: right;
}

.board .td-lastpost {
    text-align: center;
}